body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#bottomNavbar {
    margin-top: auto;
}

.late-checkbox:checked {
    background-color: #ff5203;
    border-color: #ff5203;
}

.mh-48vh {
    max-height: 48vh;
}

.bg-primary-20 {
    background-color: rgb(10, 83, 190, 0.2);
}

.bg-success-20 {
    background-color: rgb(15, 146, 15, 0.2);
}

.w-64 {
    width: 64px;
}

.w-80 {
    width: 80px;
}

.w-96 {
    width: 96px;
}