body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#bottomNavbar {
    margin-top: auto;
}

.mh-48vh{
    max-height: 44vh;
}
.bg-success-20{
    background-color: rgb(15, 146, 15,0.2);
}